Game_Release_Prospecting_Workflow.json
{
  "name": "Game Release Prospecting Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "af44e2f4-8eb5-4e0a-96cf-637e0aa1799f",
      "name": "Every 24 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        80
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gTDCbpw5OoWD3iJDCJyyqapBZyCgBuOuLh1_dro48hI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Game Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "id": "1e1d1625-f5eb-4c9a-b33f-c9477784d058",
      "name": "Read Existing Games",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -1136,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJN9uOEYPipzYp4c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  // Recent releases - last 15 days\n  { category: 'Recent AAA Release', query: '\"game\" \"released\" OR \"launched\" OR \"now available\" 2025 publisher developer' },\n  { category: 'Recent DLC Released', query: '\"DLC\" OR \"expansion pack\" OR \"expansion\" \"released\" OR \"available now\" 2025 game' },\n  { category: 'Recent Mobile Launch', query: '\"mobile game\" OR \"iOS\" OR \"Android\" \"launched\" OR \"released\" 2025 \"global launch\"' },\n  { category: 'Recent MMORPG Update', query: '\"MMORPG\" OR \"MMO\" \"expansion\" OR \"major update\" OR \"patch\" \"released\" 2025' },\n  { category: 'Recent Steam Release', query: 'steam \"new release\" OR \"early access\" game 2025 developer publisher' },\n  { category: 'Recent Console Launch', query: 'PS5 OR Xbox \"exclusive\" OR \"launch\" game \"released\" OR \"available\" 2025' },\n\n  // Upcoming - next 90 days\n  { category: 'Upcoming April 2025', query: 'video game \"April 2025\" release date announced' },\n  { category: 'Upcoming May 2025', query: 'video game \"May 2025\" release date announced' },\n  { category: 'Upcoming June 2025', query: 'video game \"June 2025\" release date announced' },\n  { category: 'Upcoming Q2 2025', query: 'video game \"Q2 2025\" release date confirmed' },\n  { category: 'Upcoming DLC 2025', query: 'game DLC OR expansion \"release date\" OR \"coming\" 2025 announced' },\n  { category: 'Upcoming Mobile 2025', query: 'mobile game \"launch date\" OR \"release date\" 2025 global' },\n  { category: 'Upcoming MMORPG 2025', query: 'MMORPG OR MMO expansion OR update \"2025\" release confirmed' },\n  { category: 'Upcoming Live Service', query: 'live service game season OR update OR patch 2025 date' },\n  { category: 'Upcoming Esports Launch', query: 'competitive game OR esports title launch 2025 publisher' },\n\n  // High value publishers\n  { category: 'Tencent Release', query: 'Tencent Games game launch OR release OR update 2025' },\n  { category: 'NetEase Release', query: 'NetEase Games game launch OR release OR update 2025' },\n  { category: 'NCSoft Release', query: 'NCSoft game launch OR release OR update 2025' },\n  { category: 'Nexon Release', query: 'Nexon game launch OR release OR update 2025' },\n  { category: 'Krafton Release', query: 'Krafton PUBG game launch OR release 2025' },\n  { category: 'Perfect World Release', query: 'Perfect World Entertainment game launch 2025' },\n  { category: 'Bandai Namco Release', query: 'Bandai Namco game release OR launch 2025' },\n  { category: 'Square Enix Release', query: 'Square Enix game release OR launch OR DLC 2025' },\n  { category: 'Capcom Release', query: 'Capcom game release OR launch OR DLC 2025' },\n  { category: 'SEGA Release', query: 'SEGA game release OR launch 2025' },\n\n  // Gaming news sources - English only\n  { category: 'IGN Announcement', query: 'site:ign.com game release date 2025' },\n  { category: 'Kotaku Announcement', query: 'site:kotaku.com game release launch 2025' },\n  { category: 'GameSpot Announcement', query: 'site:gamespot.com game release date 2025' },\n  { category: 'PC Gamer Announcement', query: 'site:pcgamer.com game release launch 2025' },\n  { category: 'Eurogamer Announcement', query: 'site:eurogamer.net game release launch 2025' },\n  { category: 'VGC Announcement', query: 'site:videogameschronicle.com game release 2025' },\n  { category: 'GamesRadar Announcement', query: 'site:gamesradar.com game release date 2025' },\n  { category: 'TheGamer Announcement', query: 'site:thegamer.com game release launch 2025' }\n];"
      },
      "id": "2db01edf-041f-4e33-9c58-91b457e79c3d",
      "name": "Game Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "225c92b3-9fb6-4252-b0d6-185652669fa4",
      "name": "Loop Over Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "tbs",
              "value": "qdr:m"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "lr",
              "value": "lang_en"
            }
          ]
        },
        "options": {}
      },
      "id": "e2340039-b91e-4b84-9ce5-807bd0129edc",
      "name": "Search Game News (SerpAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst category = $('Loop Over Queries').item.json.category;\nconst results = response.organic_results || [];\n\nif (results.length === 0) return [];\n\n// Filter out results from non-English or irrelevant sources\nconst skipDomains = ['hindi', 'arabic', 'french', 'german', 'spanish', 'portuguese', 'russian', 'chinese', 'japanese', 'korean', 'news18', 'ndtv', 'timesofindia', 'indiatoday', 'reddit.com/r/memes', 'twitter.com', 'facebook.com'];\n\nconst filtered = results.filter(r => {\n  const link = (r.link || '').toLowerCase();\n  const source = (r.displayed_link || '').toLowerCase();\n  return !skipDomains.some(d => link.includes(d) || source.includes(d));\n});\n\nif (filtered.length === 0) return [];\n\nreturn filtered.slice(0, 8).map(r => ({\n  json: {\n    category,\n    title: r.title || '',\n    snippet: r.snippet || '',\n    link: r.link || '',\n    source: r.displayed_link || '',\n    date: r.date || ''\n  }\n}));"
      },
      "id": "2c393ea3-2dd7-4d5c-9f6e-1694f87f2577",
      "name": "Format Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-3-haiku-20240307',\n  max_tokens: 1200,\n  messages: [{\n    role: 'user',\n    content: `You are a gaming industry sales analyst. A gaming ad network called CPMStar/Aditude wants to identify game publishers and developers actively releasing games, DLCs, expansions, or major updates so they can pitch programmatic display advertising.\n\nAnalyze this search result and extract game release information.\n\nCategory: ${$json.category}\nArticle Title: ${$json.title}\nSnippet: ${$json.snippet}\nSource URL: ${$json.source}\nDate: ${$json.date}\n\nRULES:\n- Only extract if a SPECIFIC game title is clearly named in the title or snippet\n- If the article is not in English, set confidence to 0\n- If no specific game name is found, set confidence to 0\n- If this is about a game that already released years ago with no new content, set confidence to 0\n- Publisher/developer names like Tencent, NetEase, NCSoft, Nexon, Bandai Namco, Square Enix, Capcom, SEGA, Ubisoft, EA, Activision, 2K, THQ Nordic should be flagged as High budget signal\n\nRespond ONLY with valid JSON (no markdown, no backticks, no explanation):\n{\n  \"gameName\": \"exact game title or Unknown\",\n  \"developer\": \"studio name or Unknown\",\n  \"publisher\": \"publisher name or Unknown\",\n  \"releaseType\": \"New Release or DLC or Expansion or Major Update or Remaster or Early Access or Season or Unknown\",\n  \"releaseWindow\": \"specific date or quarter or TBD\",\n  \"releaseStatus\": \"Recent if released last 15 days, Upcoming if next 90 days, Unknown\",\n  \"platform\": \"PC and/or PS5 and/or Xbox and/or Mobile and/or Switch or Unknown\",\n  \"budgetSignal\": \"High or Medium or Low or Unknown\",\n  \"salesAngle\": \"one sentence on why this is a good CPMStar outreach target\",\n  \"outreachNote\": \"Write a 2-3 sentence personalized cold outreach message FROM Jorge at CPMStar/Aditude. Reference the specific game name, the release type, and how CPMStar's programmatic display ad network reaching 600M+ monthly gaming users across 130+ publisher sites can help drive awareness and player acquisition for this title at launch. Make it specific and compelling, not generic.\",\n  \"relevance\": \"HIGH or MEDIUM or LOW\",\n  \"confidence\": 0\n}`\n  }]\n}) }}",
        "options": {}
      },
      "id": "a642074c-1cef-4a60-9c82-f70c5fbe6c3f",
      "name": "Claude AI Extract Game Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const searchResult = $('Format Search Results').item.json;\nconst claudeResponse = $input.first().json;\n\nlet extracted;\ntry {\n  const aiText = claudeResponse.content?.[0]?.text || '{}';\n  const clean = aiText.replace(/```json\\n?|```\\n?/g, '').trim();\n  extracted = JSON.parse(clean);\n} catch (e) {\n  return [];\n}\n\n// Skip if all unknown\nif (extracted.gameName === 'Unknown' && extracted.publisher === 'Unknown' && extracted.developer === 'Unknown') {\n  return [];\n}\n\n// If no game name but publisher known, use publisher as placeholder\nif (!extracted.gameName || extracted.gameName === 'Unknown') {\n  if (extracted.publisher && extracted.publisher !== 'Unknown') {\n    extracted.gameName = extracted.publisher + ' (TBD)';\n  } else if (extracted.developer && extracted.developer !== 'Unknown') {\n    extracted.gameName = extracted.developer + ' (TBD)';\n  } else {\n    return [];\n  }\n}\n\n// Skip parse errors\nif (extracted.gameName === 'Parse Error') return [];\n\n// Skip low relevance only\nif (extracted.relevance === 'LOW') return [];\n\n// Duplicate detection\nconst existingGames = $('Read Existing Games').all()\n  .map(i => i.json['Game Name']?.toLowerCase().trim())\n  .filter(Boolean);\n\nif (existingGames.includes(extracted.gameName?.toLowerCase().trim())) {\n  return [];\n}\n\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    'Date Found': now,\n    'Status': 'New',\n    'Relevance': extracted.relevance,\n    'Release Status': extracted.releaseStatus,\n    'Budget Signal': extracted.budgetSignal,\n    'Game Name': extracted.gameName,\n    'Developer': extracted.developer,\n    'Publisher': extracted.publisher,\n    'Release Type': extracted.releaseType,\n    'Release Window': extracted.releaseWindow,\n    'Platform': extracted.platform,\n    'Sales Angle': extracted.salesAngle,\n    'Outreach Note': extracted.outreachNote,\n    'Confidence': extracted.confidence,\n    'Category': searchResult.category,\n    'Source Article': searchResult.link,\n    'Article Title': searchResult.title,\n    'Contact Found': 'No',\n    'Contact Name': '',\n    'Contact Email': '',\n    'Contact LinkedIn': '',\n    'Notes': ''\n  }\n}];"
      },
      "id": "17e4a823-9626-457d-8060-cbf0d162464a",
      "name": "Merge & Filter Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gTDCbpw5OoWD3iJDCJyyqapBZyCgBuOuLh1_dro48hI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Game Prospects"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Found",
              "displayName": "Date Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Status",
              "displayName": "Release Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Relevance",
              "displayName": "Relevance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget Signal",
              "displayName": "Budget Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Game Name",
              "displayName": "Game Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Developer",
              "displayName": "Developer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Publisher",
              "displayName": "Publisher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Type",
              "displayName": "Release Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Release Window",
              "displayName": "Release Window",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sales Angle",
              "displayName": "Sales Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outreach Note",
              "displayName": "Outreach Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source Article",
              "displayName": "Source Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article Title",
              "displayName": "Article Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Found",
              "displayName": "Contact Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Name",
              "displayName": "Contact Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact LinkedIn",
              "displayName": "Contact LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Readable date",
              "displayName": "Readable date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Readable time",
              "displayName": "Readable time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day of week",
              "displayName": "Day of week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day of month",
              "displayName": "Day of month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hour",
              "displayName": "Hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Minute",
              "displayName": "Minute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Second",
              "displayName": "Second",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Title",
              "displayName": "Contact Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Twitter Handle",
              "displayName": "Twitter Handle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Best Approach",
              "displayName": "Best Approach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Confidence",
              "displayName": "Contact Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6cc822fb-7939-43ee-a087-3559f558b772",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJN9uOEYPipzYp4c",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 24 Hours": {
      "main": [
        [
          {
            "node": "Read Existing Games",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Games": {
      "main": [
        [
          {
            "node": "Game Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Game Search Queries": {
      "main": [
        [
          {
            "node": "Loop Over Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Queries": {
      "main": [
        [],
        [
          {
            "node": "Search Game News (SerpAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Game News (SerpAPI)": {
      "main": [
        [
          {
            "node": "Format Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Results": {
      "main": [
        [
          {
            "node": "Claude AI Extract Game Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Extract Game Data": {
      "main": [
        [
          {
            "node": "Merge & Filter Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Filter Results": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "54fc8b2a-c707-4f5a-b6ad-94182da9eb79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_SERPAPI_KEY"
  },
  "id": "m9movT5TuwIoN4e3",
  "tags": []
}