Game_Release_Contact_Workflow.json
{
  "name": "Game Release Contact Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 48
            }
          ]
        }
      },
      "id": "0eafdc02-d617-4f42-b690-cfd6da42ec27",
      "name": "Every 48 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        48
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Game Prospects",
          "mode": "name"
        },
        "options": {}
      },
      "id": "1a1bb7b6-77b3-4005-b2e2-69d1ea761f2f",
      "name": "Read Uncontacted Prospects",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -480,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJN9uOEYPipzYp4c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ba1f8cab-0441-435f-bdca-0dc5d5b7d866",
      "name": "Loop Over Prospects",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        48
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json['Publisher'] !== 'Unknown' ? $json['Publisher'] : $json['Developer'] }} marketing director OR head of marketing OR user acquisition site:linkedin.com OR site:twitter.com"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "d212a42d-fc02-4939-a834-4b10ddb84199",
      "name": "Search for Contacts (SerpAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json['Publisher'] !== 'Unknown' ? $json['Publisher'] : $json['Developer'] }} advertising contact OR media buyer OR partnership email"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "ba6da096-8295-473d-8391-0fda30a99539",
      "name": "Search Company Website (SerpAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {},
      "id": "75b99a5f-148e-43af-883f-81a0c51ebc6b",
      "name": "Combine Search Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        240,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-3-haiku-20240307',\n  max_tokens: 1000,\n  messages: [{\n    role: 'user',\n    content: `You are a sales intelligence analyst for a gaming advertising network. Extract contact information from these search results for outreach to a gaming company.\n\nGame: ${$('Loop Over Prospects').item.json['Game Name']}\nDeveloper: ${$('Loop Over Prospects').item.json['Developer']}\nPublisher: ${$('Loop Over Prospects').item.json['Publisher']}\nRelease Type: ${$('Loop Over Prospects').item.json['Release Type']}\nRelease Window: ${$('Loop Over Prospects').item.json['Release Window']}\n\nSearch Result Snippets:\n${($input.first().json.organic_results || []).slice(0,5).map(r => r.title + ': ' + r.snippet + ' | URL: ' + r.link).join('\\n')}\n\nRespond ONLY with a JSON object (no markdown, no backticks) with:\n- contactName: (string) name of relevant contact found or \"Not Found\"\n- contactTitle: (string) their job title or \"\"\n- contactEmail: (string) email if found or \"\"\n- contactLinkedIn: (string) LinkedIn URL if found or \"\"\n- companyWebsite: (string) company website URL or \"\"\n- twitterHandle: (string) company or person twitter handle or \"\"\n- outreachNote: (string) 1-2 sentence personalized outreach hook for a gaming ad network pitching programmatic display ads to this company for their upcoming release\n- contactConfidence: (number) 0-100 how confident you are the contact info is accurate\n- bestApproach: (string) \"Email\", \"LinkedIn\", \"Twitter\", or \"Website Form\"`\n  }]\n}) }}",
        "options": {}
      },
      "id": "7c8f06ec-ad43-445b-9cb8-f8efd0d2417a",
      "name": "Claude AI Extract Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const prospect = $('Loop Over Prospects').item.json;\nconst claudeResponse = $input.first().json;\n\nlet contact;\ntry {\n  const aiText = claudeResponse.content?.[0]?.text || '{}';\n  const clean = aiText.replace(/```json\\n?|```\\n?/g, '').trim();\n  contact = JSON.parse(clean);\n} catch (e) {\n  contact = {\n    contactName: 'Parse Error',\n    contactTitle: '',\n    contactEmail: '',\n    contactLinkedIn: '',\n    companyWebsite: '',\n    twitterHandle: '',\n    outreachNote: 'Review manually',\n    contactConfidence: 0,\n    bestApproach: 'Website Form'\n  };\n}\n\nconst contactFound = contact.contactName !== 'Not Found' && contact.contactName !== 'Parse Error' ? 'Yes' : 'Partial';\n\nreturn [{\n  json: {\n    'Game Name': prospect['Game Name'],\n    'Contact Found': contactFound,\n    'Contact Name': contact.contactName,\n    'Contact Title': contact.contactTitle,\n    'Contact Email': contact.contactEmail,\n    'Contact LinkedIn': contact.contactLinkedIn,\n    'Company Website': contact.companyWebsite,\n    'Twitter Handle': contact.twitterHandle,\n    'Best Approach': contact.bestApproach,\n    'Outreach Note': contact.outreachNote,\n    'Contact Confidence': contact.contactConfidence,\n    'Notes': prospect['Notes']\n  }\n}];"
      },
      "id": "f68a2eb7-5b5f-4c57-bbac-c68d4b2ce59a",
      "name": "Format Contact Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        64
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Game Prospects",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Game Name"
          ],
          "schema": [
            {
              "id": "Date Found",
              "displayName": "Date Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Relevance",
              "displayName": "Relevance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget Signal",
              "displayName": "Budget Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Game Name",
              "displayName": "Game Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Developer",
              "displayName": "Developer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Publisher",
              "displayName": "Publisher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Type",
              "displayName": "Release Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Release Window",
              "displayName": "Release Window",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales Angle",
              "displayName": "Sales Angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source Article",
              "displayName": "Source Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Title",
              "displayName": "Article Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Found",
              "displayName": "Contact Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Name",
              "displayName": "Contact Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LinkedIn",
              "displayName": "Contact LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Readable date",
              "displayName": "Readable date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Readable time",
              "displayName": "Readable time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Day of week",
              "displayName": "Day of week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Day of month",
              "displayName": "Day of month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hour",
              "displayName": "Hour",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Minute",
              "displayName": "Minute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Second",
              "displayName": "Second",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timezone",
              "displayName": "Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f68fd4ca-9581-4864-8bbc-801c0bfac0ca",
      "name": "Update Sheet with Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        960,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJN9uOEYPipzYp4c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contact Details",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Game Name",
              "displayName": "Game Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Found",
              "displayName": "Contact Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Name",
              "displayName": "Contact Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Title",
              "displayName": "Contact Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LinkedIn",
              "displayName": "Contact LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter Handle",
              "displayName": "Twitter Handle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Best Approach",
              "displayName": "Best Approach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outreach Note",
              "displayName": "Outreach Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Confidence",
              "displayName": "Contact Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7be5af0d-eae9-4882-9c30-bf72d276918e",
      "name": "Log to Contact Details Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1200,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CJN9uOEYPipzYp4c",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 48 Hours": {
      "main": [
        [
          {
            "node": "Read Uncontacted Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Uncontacted Prospects": {
      "main": [
        [
          {
            "node": "Loop Over Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Prospects": {
      "main": [
        [],
        [
          {
            "node": "Search for Contacts (SerpAPI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Company Website (SerpAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Contacts (SerpAPI)": {
      "main": [
        [
          {
            "node": "Combine Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company Website (SerpAPI)": {
      "main": [
        [
          {
            "node": "Combine Search Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Search Results": {
      "main": [
        [
          {
            "node": "Claude AI Extract Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Extract Contacts": {
      "main": [
        [
          {
            "node": "Format Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Contact Data": {
      "main": [
        [
          {
            "node": "Update Sheet with Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Contacts": {
      "main": [
        [
          {
            "node": "Log to Contact Details Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Contact Details Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a77e350e-fbb7-4cd2-88cf-9fd0a6459c1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_SERPAPI_KEY"
  },
  "id": "4XRThM8hODRwRWy7",
  "tags": []
}